<html>

<head>
    <title>CSS学习总结-两列和三列布局</title>
</head>

<body>
    <div class="layout">
        <div class="left left-method1">

        </div>
        <div class="right right-method1">
        </div>
        <div class="main main-method1">

        </div>
    </div>
    <div class="layout">
        <div class="left left-method2">

        </div>

        <div class="main main-method2">

        </div>
        <div class="right right-method2">
        </div>
    </div>
    <div class="layout container-hasPadding">
        <div class="main main-method3">

        </div>
        <div class="left left-method3">
        </div>
        <div class="right right-method3">
        </div>
    </div>

    <div class="layout ">
        <div class="main-wrap">
            <div class="main main-method4">
            </div>
        </div>
        <div class="left left-method4">
        </div>
        <div class="right right-method4">
        </div>
    </div>


</body>

</html>